@use "./partials/typography" as *;
@use "./partials/global" as *;

.hero {
    background-image: url(/assets/images/hero-bio.jpg);
    &__heading {
        text-align: left;
        color: $primary-text-color-white;
        padding-left: 1rem;
        z-index: 1;
    }
}
.info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__heading {
        text-align: left;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &__figure {
        margin: 1rem;
        &__band-img {
            width: 100%;
        }
        &__captions {
            text-align: left;
            display: flex;
            padding-bottom: 1rem;
        }
    }
}
.subheader__container {
    &__heading {
        text-align: left;
        margin: 0;
        padding-left: 1rem;
    }
    &__paragraphs {
        display: flex;
        flex-direction: column;
        margin: 0;
        &__1 {
            padding: 1rem;
            margin: 0;
        }
        &__2 {
            padding: 1rem;
            margin: 0;
        }
    }
}
.gallery {
    background-color: $alternative-background-color;
    display: flex;
    flex-direction: column;

    &__header {
        text-align: left;
        margin: 0;
        padding: 1rem;
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;

        &__item {
            width: 100%;

            &__photo {
                padding: 0 0rem 1rem 0rem;
                width: 100%;
                margin: 0px;
            }
        }
    }
}
.conv {
    &__heading {
        padding-left: 1rem;
    }
    &__wrapper {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__container {
            display: flex;
            justify-content: center;
            &__img {
                object-fit: cover;
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                margin-top: 1.5rem;
            }
        }
    }
}
.form {
    margin: 0 auto;
    width: 80%;
    border-radius: 4px;
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        &__input {
            padding-left: 12px;
            height: 2.25rem;
            background-color: $alternative-background-color;
            border-radius: 4px;
            border: 1px solid $secondary-color-silver;
        }
        #user-comment {
            padding-top: 1rem;
            padding-bottom: 5rem;
        }
    }
    &__btn {
        @include button;
        &:hover {
            background-color: $hover-state-color;
        }
    }
}
.form__container__input:focus {
    border: 1px solid $primary-color-black;
} 
.comments {
    display: flex;
    flex-direction: column;
    &__section {
        margin: 1rem;
        .article__wrapper {
            display: flex;
        }
    }
    &__avatar {
        background-color: $divider-line;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-top: 1rem;
    }
    &__section {
        &__wrapper2 {
            margin: 1rem;
        }
        .lable__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
@include tablet {
    .hero {
        height: 30rem;
        &__heading {
            font-family: $secondary-family-font;
            font-size: $font-size-phtd;
            line-height: 4.25rem;
            padding-left: 2rem;
        }
    }
    .info {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        &__figure {
            width: 86%;
            margin: auto;
            &__band-img {
                margin: 0 auto;
                padding-bottom: 1rem;
            }
            &__captions {
                margin: 0 66px 0 0;
                padding-bottom: 1rem;
            }
        }
    }
    .subheader__container {
        margin: 0;
        &__heading {
            margin: 3rem 0 1rem 0;
            padding-left: 3.5rem;
        }
        &__paragraphs {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 2rem;
            &__1 {
                padding: 0;
                width: 39%;
            }
            &__2 {
                padding: 0;
                width: 39%;
            }
        }
    }
    .gallery {
        padding: 1.25rem;

        &__container {
            flex-wrap: wrap;
            flex-direction: row;

            &__item {
                width: calc(100% / 3);

                &__photo {
                    padding: 0 0rem 1.5rem 0rem;
                    width: 90%;
                }
            }
        }
    }
    .conv {
        &__heading {
            padding-left: 2rem;
        }
        &__wrapper {
            justify-content: space-around;
            margin: 1rem 7rem;
        }
        hr {
            margin: 0 auto;
            width: 80%;
        }
    }
    .form {
        margin: 0;
        &__btn {
            background-color: $primary-color-black;
            width: 150px;
            float: right;
            &:hover {
                background-color: $hover-state-color;
             }
        }
    }
    .comments {
        margin: 1rem 3rem 1rem 3rem;
        &__section {
            margin: 1rem 7rem;
            &__wrapper2 {
                margin: 1rem;
            }
        }
    }
}
@include desktop {
    .hero {
        height: 35rem;
        &__heading {
            font-family: $secondary-family-font;
            font-size: $font-size-phtd;
            line-height: 4.25rem;
            padding-left: 7rem;
        }
    }
    .info {
        width: 80%;
        justify-content: center;
        margin: 0 auto;
        &__figure {
            width: 79%;
            margin: auto;
            &__band-img {
                margin: 0 auto;
                padding-bottom: 1rem;
            }
            &__captions {
                padding-bottom: 1rem;
                display: flex;
                margin: 0;
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
    .subheader__container {
        &__heading {
            margin: 3rem 0 1rem 0;
            padding-left: 7.375rem;
        }
        &__paragraphs {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3.125rem;
            padding-bottom: 2rem;
            &__1 {
                padding: 0;
                width: 37%;
            }
            &__2 {
                padding: 0;
                width: 37%;
            }
        }
    }
    .gallery {
        padding: 0 5rem;
        &__header {
            padding: 1rem 0 1rem 5rem;
        }
        &__container {
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            &__item {
                width: calc(100% / 3 - 2rem);
                &__photo {
                    padding: 0 1rem 1.2rem 1rem;
                    width: 90%;
                }
            }
        }
    }
    .conv {
        &__heading {
            padding-left: 10rem;
        }
        &__wrapper{
        margin: 1rem 20rem;
        }
        hr {
            margin: 0 auto;
            width: 90%;
        }
    }
    .comments {
        &__section {
            margin: 1rem 20rem;
        }
    }
}
