@use "./partials/typography" as *;
@use "./partials/global" as *;

.hero {
    background-image: url(/assets/images/hero-shows.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 100%;
    opacity: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    &__item1 {
        position: relative;
        color: $primary-text-color-white;
    }
    &__item2 {
        position: relative;
        color: $primary-text-color-white;
        width: 205px;
    }
    &__item3 {
        position: relative;
    }
}

@include tablet{
    .hero {
        background-position-y: -74px;
        height: 27rem;
        &__item1 {
            font-family: $primary-family-font;
            font-size: $font-size-subhtd; 
            padding-left: 2rem;
        }
        &__item2 {
            font-family: $secondary-family-font;
            font-size: $font-size-shtd;
            width: 360px;
            padding-left: 2rem;
        }
        &__item3 {
            font-family: $secondary-family-font;
            font-size: $font-size-phtd;
            line-height: 4.25rem; 
            width: 50%;
            padding-left: 2rem;
        }
    }
}

@include desktop {
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-position-y: -148px;
        height: 35rem;
        align-items: center;
        &__container {
            width: 50%;
            margin: 0 auto;
            &__1 {     
                padding-left: 5rem;
            }
            &__2 {
                width: 300px;
                padding-left: 5rem;  
            }
        }
        &__item3 {
           width: 50%;
           margin: 0 auto;
        }
    }
}

.shows {
    padding: 1rem;
    &__heading {
        font-family: $secondary-family-font;
        font-size: $font-size-shm;
        line-height: 2rem;
    }
    &__wrapper {
        &__container {
            &__date {
                &__label {
                    font-family: $secondary-family-font;
                    font-size: $font-size-paragraphm;
                    line-height: 1.25rem;
                    color: $secondary-color-silver;
                }
                &__text {
                    font-family: $secondary-family-font;
                    font-size: $font-size-paragraphm;
                    font-weight: 600;
                    line-height: 1.5rem;
                }
            } 
            &__venue {
                &__label {
                    font-family: $secondary-family-font;
                    font-size: $font-size-paragraphm;
                    line-height: 1.25rem;
                    color: $secondary-color-silver;
                }
                &__text { 
                    font-family: $primary-family-font;
                    font-size: $font-size-paragraphm;
                    line-height: 1.125rem;
                }
            }
            &__location {
                &__label { 
                    font-family: $secondary-family-font;
                    font-size: $font-size-paragraphm;
                    color: $secondary-color-silver;
                    line-height: 1.25rem;
                }
                &__text {
                    font-family: $primary-family-font; 
                    font-size: $font-size-paragraphm;
                    line-height: 1.125rem;
                }
            }
            &__btn {
                font-family: $secondary-family-font;
                font-size: $font-size-subhm;
                line-height: 1.25rem;
                font-weight: 700;
                color: $primary-text-color-white;
                background-color: $primary-color-black;
                border: none;
                border-radius: 5px;
                width: 100%;
                height: 3rem;
                text-align: center;
            } 
            &__divider2 {
                display: none;
            }
        }
    }
    &__divider1 {
        color: $secondary-color-silver;
    }
} 

@include tablet {
    .shows {
        &__wrapper {
            display: flex;
            flex-direction: row;
            width: 480px;
            justify-content: space-between;
            &__container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__btn {
                    font-weight: 600;
                    width: 160px;
                }
            }    
        }
    }
}

@include desktop {
    .shows {
        display: flex;
        flex-direction: row;
        &__heading {
            display: flex;
            flex-direction: column;
            width: 400px;
            text-align: center;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__divider1 {
           color: $secondary-color-silver;
           
        }
    }
}